# Conditional Statements

### Example #1: Determine whether two numbers have the same  reminder by 7

#### if statement

In [ ]:
a = int(input("Please insert an integer number: "))
b = int(input("Please insert another integer number: "))
if a % 7 == b % 7:  # compare between the reminders
    print("The numbers have the same reminder by 7")

#### if-else statemet

In [ ]:
a = int(input("Please insert an integer number: "))
b = int(input("Please insert another integer number: "))
if a % 7 == b % 7: # compare between the reminders
    print("The numbers have the same reminder by 7")
else:
    print("The numbers have different reminders by 7")

### Example #2: Classify the type of triangle from given 3 sides lengths.

#### if-elif-else statement

In [ ]:
a = int(input("Please insert the first side: "))
b = int(input("Please insert the second side: "))
c = int(input("Please insert the third side: "))

if a == b == c: # There are all equal
    print("Equilateral triangle")
elif a == b or a == c or b == c:  # only two equal
    print("Isosceles triangle")
else: # all three sides have different lengths
    print("Scalene triangle")

### Example #3: Check if number is divisible by 2, 5 or none of them.

#### nested conditional statement

In [ ]:
n = int(input("Please insert an integer number: "))
if n % 2 == 0:
    if n % 5 == 0:  # NESTED if
        print(n, 'is divisible by 2 and by 5, so also by 10.')
    else:  # NESTED else, pertains to NESTED if.
        print(n, 'is divisible by 2 but not by 5.')
elif n % 5:
    print(n, 'is divisible by 5 but not by 2.')
else:
    print(n, 'is not divisible by 2 and 5.')

# lists

#### Create empty list

In [ ]:
empty_list = []
empty_list = list()

empty_list

#### Create list with elements

In [6]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [5]:
my_list[1]

2

In [ ]:
len(my_list)

In [8]:
phone_book = [["David", "0521111222"],
              ["Yaron", "0523333444"]]

phone_book

[['David', '0521111222'], ['Yaron', '0523333444']]

In [9]:
len(phone_book)

2

In [10]:
phone_book[0]

['David', '0521111222']

In [12]:
any_types_list = [1, "2", ["David", "0521111222"]]
any_types_list

[1, '2', ['David', '0521111222']]

In [15]:
print('The type of index-0 is: ', type(any_types_list[0]))
print('The type of index-1 is: ', type(any_types_list[1]))
print('The type of index-2 is: ', type(any_types_list[2]))

The type of index-0 is:  <class 'int'>
The type of index-1 is:  <class 'str'>
The type of index-2 is:  <class 'list'>

In [16]:
any_types_list[2][1]

'0521111222'

# for and while loops

#### Example #4: determine whether a number is prime or not

In [ ]:
number = int(input("Enter a number larger than 1: "))
is_prime = True  # assuming the number is prime
for i in range(2, number):  # check from 2 to number - 1
    if number % i == 0: 
        is_prime = False

if is_prime:
    print("The chosen number is prime")
else:
    print("The chosen number is not prime")

#### print each name in a names list

In [17]:
names_list = ["Avi", "Rami", "Dina", "Ron", "Yael"]
for name in names_list:
  print(name)

Avi
Rami
Dina
Ron
Yael

#### Example #5: deleteing spaces using 'continue'

In [ ]:
sen = "Ground control to major Tom"
sen_no_spaces = ""
for c in sen:
    if c.isspace():
        continue
    sen_no_spaces += c
print(sen_no_spaces)

#### Example #6: check if a string contains a number using 'break'

In [ ]:
is_number = "ab4cde"
for c in is_number:
    if c.isdigit():
        print("A number was found:",c)
        break 
    else:
        print("Found '" + c + "' which is not a number!")

#### Example 7: Greatest common divisor(GCD) of two numbers - naive version

In [18]:
a = int(input("Please insert number: "))
b = int(input("Please insert number: ")) 
for r in range(a, 0, -1):
    if a % r == 0 and b % r == 0:
        break
print("The GCD of", a, "and", b, "is", r)

Please insert number: 516
Please insert number: 1220
The GCD of 516 and 1220 is 4

#### Example 8: Greatest common divisor(GCD) of two numbers - Euclidean Algorithm

In [21]:
a = int(input("Please insert the first number: "))
b = int(input("Please insert the second number: ")) 
j = a
i = b 
while i != 0:
    reminder = j % i
    j = i
    i = reminder
print("The GCD of", a, "and", b, "is", j)

Please insert the first number: 516
Please insert the second number: 1220
The GCD of 516 and 1220 is 4

# Nested loops

#### Example 9: Longest repeating substring

In [23]:
str_1 = input("Insert the first string ")
str_2 = input("Insert the second string ")
len_1= len(str_1)
max_common = 0
for i in range(len_1):
    for j in range(i + 1, len_1 + 1):
        if str_1[i: j] in str_2:
            if  j - i > max_common:
                max_common = j - i 
print("The longest repeating substring = ", max_common)

Insert the first string abcdefg
Insert the second string abcdefg
The longest repeating substring =  7

#### Example 10: create multiplication table

In [24]:
multiplication_table = []
for i in range(11):
    multiplication_table.append([]) 
    for j in range(11):
        multiplication_table[i].append(i * j)

for row in multiplication_table:
    print(row)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#### Example 11: create multiplication table - using list comprehension

In [25]:
mul_table = [[x * y for x in range(11)] for y in range(11)]
mul_table

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]